body{
    background-color: #474B4F;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    color: #FEFFFF;
    text-align: center;
    margin: 0 auto;
}
header ul{
    padding: 0;
}
header li{
    display: inline;
}
header button{
    padding: 10px;
    border-color: #44318D;
    background-color: #44318D;
    border-radius: 25px;
    color: #FEFFFF;
}
.section{
    padding-top: 90px;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}
.title{
    color: #FEFFFF;
    background-image: url('../imgs/dallasBG.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 150vh;
}
.about{
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(47, 48, 47, 0.507);;
    display: table;
    border-radius: 25px;
    padding: 10px;
}
.about h2{
    font-weight: bold;
}
.underline-green{
    text-decoration: underline;
    text-decoration-color:#86C232;
}
.section h2{
    
    color: #86C232;
}
.languages{
    margin-top: 50px;
    display: inline-block;
}
.skills{
    background-color: #222629;
    text-align: center;
    color: #FEFFFF;
}
.skills ul{
    vertical-align: top;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block
}
.skills ul span{
    font-size: 2.5rem;
    font-weight: bold;
    color: #86C232;
}
.skills ul li{
    font-size: 2rem;
}

